<figure class="figure{{#if position}}  figure--break-{{position}}{{/if}}">
  <img class="figure__image" alt="{{title}}" src="{{site.url.static}}assets/media/{{image}}" />
  <p class="figure__caption">{{{caption}}}</p>
</figure>
