<footer class="footer">
  <div class="container">

    <div class="grid  grid--footer">
      <div class="cnt">
        <h2 class="cnt__header">Anschrift:</h2>
        <div class="cnt__content"><p>
          <strong>RA &amp; SB Ulf Mücke</strong><br>
          {{address.street}}<br>{{address.zip}} {{address.place}}<br>
          <a class="location-link" href="{{location}}" rel="noopener" target="_blank"><i class="fas fa-map-marked-alt"></i><span class="visually-hidden">In Google Maps öffnen</span></a></p>
        </div>   
      </div>

      <div class="cnt">
        <h2 class="cnt__header">Kontakt:</h2>
        <div class="cnt__content">
          <p class="contact"><a class="phone" href="tel:{{phone.plain}}">{{phone.formatted}}</a>
          <a class="mail" href="mailto:mail@ra-stb-muecke.de">{{email}}</a></p>

          <ul class="list  list--unstyled  list--inline">
            <li class="list__item"><a href="{{xing}}" class="social-link"><i class="fab fa-xing"></i><span class="visually-hidden">Xing Profil</span></a></li>
            <li class="list__item"><a href="{{linkedin}}" class="social-link"><i class="fab fa-linkedin-in"></i><span class="visually-hidden">LinkedIn Profil</span></a></li>
          </ul>
        </div>
      </div>
      <div class="cnt">
        <h2 class="cnt__header">Öffnungszeiten:</h2>
        <div class="cnt__content"><p>
          <strong>Mo / Di / Mi:</strong> 08:00 - 12:30 Uhr <br>und 13:30 - 17:00 Uhr<br>
          <strong>Do: </strong> 08:00 - 12:30 Uhr <br>und 13:30 - 19:00 Uhr<br>
          <strong>Fr: </strong> 08:00 - 14:00 Uhr </p>
        </div>     
      </div>
    </div>

    <div class="cnt">
      <div class="cnt__content">
        <a class="link" href="impressum.html">Impressum</a> / <a class="link" href="datenschutz.html">Datenschutzerklärung</a>
      </div>
    </div>
  </div>
</footer>

<script src="{{site.url.static}}assets/lib/zepto.min.js"></script>
<script src="{{site.url.static}}assets/js/script.js"></script>
